-- ============================================================================
-- CREATE THE TABLES
-- AUTHOR: D.GIANNOULIS
-- DATA: 2019-10-01
-- ============================================================================

-- HOSTS TABLE
CREATE TABLE Hosts
(
    id VARCHAR(255) NOT NULL,
    host_since DATE,
    CONSTRAINT PRIMARY_KEY_HOSTS_ID PRIMARY KEY(id)
);

-- NEIGHBOURHOODS TABLE
CREATE TABLE Neighbourhoods
(
    id int NOT NULL IDENTITY(1,1),
    neighbourhood VARCHAR(255),
    CONSTRAINT PRIMARY_KEY_NEIGHBOURHOODS_ID PRIMARY KEY(id)
);


-- PROPERTY TYPES TABLE
CREATE TABLE PropertyTypes
(
    id INT NOT NULL IDENTITY(1,1),
    property_type VARCHAR(255),
    CONSTRAINT PRIMARY_KEY_PROPERTY_TYPES_ID PRIMARY KEY(id)
);

-- ROOM TYPES TABLE
CREATE TABLE RoomTypes
(
    id INT NOT NULL IDENTITY(1,1),
    room_type VARCHAR(255),
    CONSTRAINT PRIMARY_KEY_ROOM_TYPES_ID PRIMARY KEY(id)
);

-- POST CODE TABLE
CREATE TABLE PostCodes
(
    id INT NOT NULL IDENTITY(1,1),
    post_code VARCHAR(255),
    neighbourhood_id INT NOT NULL,
    CONSTRAINT PRIMARY_KEY_ZIP_CODES_ID PRIMARY KEY(id),
    CONSTRAINT FOREIGN_KEY_POSTCODES_NEIGHBOURHOODS FOREIGN KEY(neighbourhood_id) REFERENCES Neighbourhoods(id) ON DELETE CASCADE
);

-- PROPERTIES TABLE
CREATE TABLE Properties
(
    id INT NOT NULL IDENTITY(1,1),
    host__id VARCHAR(255) NOT NULL,
    postCode_id INT NOT NULL,
    propertyType_id INT NOT NULL,
    roomType_id INT NOT NULL,
    property_name VARCHAR(255),
    num_beds INT,
    price FLOAT,
    num_reviews INT,
    review_score INT,
    CONSTRAINT PRIMARY_KEY_PROPERTIRES_ID PRIMARY KEY(id),
    CONSTRAINT FOREIGN_KEY_PROPERTIRES_HOSTS FOREIGN KEY(host__id) REFERENCES Hosts(id) ON DELETE CASCADE,
    CONSTRAINT FOREIGN_KEY_PROPERTIRES_POSTCODES FOREIGN KEY(postCode_id) REFERENCES PostCodes(id) ON DELETE CASCADE,
    CONSTRAINT FOREIGN_KEY_PROPERTIRES_ROOMTYPES FOREIGN KEY(roomType_id) REFERENCES RoomTypes(id) ON DELETE CASCADE,
    CONSTRAINT FOREIGN_KEY_PROPERTIRES_PROPERTYTYPE FOREIGN KEY(propertyType_id) REFERENCES PropertyTypes(id) ON DELETE CASCADE,
);